h1 Create Account


- if @error
  p style="color: red" = @error

form action="/account/create" method="post"
  p Username
  input type="text" placeholder="John Doe" name="username"

  p Password
  input type="Password" placeholder="Password" name="password"
  p Repeat password
  input type="Password" placeholder="Password" name="repeat"
  br
  input type="submit" value="Skapa"
