h1 = "welcome, #{@logged_in_as}"
button Log out
<br><br>
form method="get" action="/profile/create"
    input type="submit" value="create profile"

form method="get" action="/profile"
    input type="submit" value="see profile"
