h1 Login

- if @error
  p style="color: red" = @error
form action="/account/login" method="post"
  p Username
  input type="text" placeholder="John Doe" name="username"

  p Password
  input type="Password" placeholder="Password" name="password"
  br
  input type="submit" value="Log in"
