h1 = "welcome, #{@logged_in_as}"
link rel="stylesheet" href="/css/swipe.css"
button Log out

form method="get" action="/profile/create"
    input type="submit" value="create profile"

form method="get" action="/profile"
    input type="submit" value="see profile"
div class="swipebox"
    button Yes
    button No
    p = 
    p = "age: #{@randomuser[4]}"
    
    p = "gender: #{@randomuser[3]}"

    img src= @pic width="50%" height="60%"
div
    